@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

summary::-webkit-details-marker {
  display: none;
}

:root {
  --header-height: 0px;
}

@responsive {
  [open] .open\:flex {
    display: flex;
  }

  [open] .open\:hidden {
    display: none;
  }

  .h-screen-minus-header {
    height: calc(100vh - var(--header-height));
  }

  .min-h-screen-minus-header {
    min-height: calc(100vh - var(--header-height));
  }
}
