@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --header-height: 0px;
  --safe-area-inset-top: env(safe-area-inset-top);
}

html {
  -webkit-tap-highlight-color: transparent;
}

[data-bridge-platform~="ios"] {
  --header-height: var(--safe-area-inset-top);
  --top-offset: 0vh;
}

[data-bridge-platform~="ios"] .ios\:relative {
  position: relative;
}

[data-bridge-platform~="ios"] .ios\:hidden {
  display: none;
}

[data-bridge-platform~="ios"] .top-offset {
  top: 0;
}

.top-offset {
  --top-offset: var(--header-height);

  top: calc(var(--top-offset) - var(--header-height));
}

@responsive {
  .h-screen-minus-header {
    height: calc(100vh - var(--header-height));
  }

  .h-3\/4-screen-minus-header {
    height: calc(75vh - var(--header-height));
  }

  .min-h-screen-minus-header {
    min-height: calc(100vh - var(--header-height));
  }
}
