@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --header-height: 0px;
}

.top-offset {
  --top-offset: var(--header-height);

  top: calc(var(--top-offset) - var(--header-height));
}

@responsive {
  .h-screen-minus-header {
    height: calc(100vh - var(--header-height));
  }

  .h-3\/4-screen-minus-header {
    height: calc(75vh - var(--header-height));
  }

  .min-h-screen-minus-header {
    min-height: calc(100vh - var(--header-height));
  }
}
