<%= tag.section(
  "data-controller": "sliding-drawer",
  "data-sliding-drawer-active-class": "shadow-outline",
  "data-sliding-drawer-maximum-height-value": 75,
  "class": "
    absolute
    ios:relative
    bg-cream-lighter
    inset-0
    lg:w-1/4
    md:relative
    md:top-auto
    md:w-1/2
    md:overflow-y-auto
    p-4
    top-offset
    z-10
  ",
  **local_assigns
) do %>
  <div class="flex justify-center">
    <%= render "button",
      class: "
        cursor-ns-resize
        h-8
        justify-center
        ios:hidden
        md:hidden
      ",
      "data-sliding-drawer-target": "draggable",
      "data-action": "
        touchstart->sliding-drawer#activate
        touchmove->sliding-drawer#drag
        touchend->sliding-drawer#deactivate
      " do %>
      <%= inline_svg_tag "icons/handle.svg", class: "h-6 w-24 border-brown text-brown-lighter rounded-full", title: "Drag to resize" %>
    <% end %>
  </div>

  <%= yield %>
<% end %>
