<div class="flex flex-col space-y-4 text-brown">
  <h2 class="font-bold my-8 px-6 text-center text-lg">It looks like there's nothing in this area</h2>

  <p class="font-bold">Try looking near your office:</p>

  <%= render("locations/location", location: Current.office) %>
</div>
