<%= render "sidebar", "data-sliding-drawer-offset-height-value": 75 do %>
  <h1 class="sr-only">Search results in the area</h1>

  <p class="mb-4"><%= pluralize locations.size, "result"  %></p>

  <ul class="space-y-2">
    <%= render(layout: "li", partial: locations) || render(partial: "locations/empty", layout: "li") %>
  </ul>
<% end %>

<%= render "map", locations: locations, bounding_box: bounding_box %>
