<%= render "sidebar" do %>
  <p class="mb-4"><%= pluralize locations.size, "result"  %></p>

  <ul class="space-y-2">
    <%= render layout: "li", partial: locations %>
  </ul>
<% end %>

<%= render "map" %>
